@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=League+Spartan:wght@100..900&display=swap');

:root {
  /* Colors */
  --clr-magenta: hsl(300, 43%, 22%);
  --clr-pink: hsl(333, 80%, 67%);
  --clr-d-grey-magenta: hsl(303, 10%, 53%);
  --clr-l-grey-magenta: hsl(300, 24%, 96%);
  --clr-white: hsl(0, 0%, 100%);

  /* Font Weights */
  --fw-regular: 400;
  --fw-bold: 500;
  --fw-extra-bold: 700;

  /* Font Sizes */
  --fs-400: 1rem;      
  --fs-500: 1.25rem;  
  --fs-600: 1.5rem;    
  --fs-800: 2.5rem;    
  --fs-1000: 3.5rem;   

  /* Font Family */
  --ff-base: "League Spartan", sans-serif;
}

*,
::after,
::before {
  box-sizing: border-box;
}

img,
svg {
  display: block;
}

body {
  display: grid;
  place-items: center;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-family: var(--ff-base);
}

main {
  padding: 1.5rem;
}

/* Card Container */
.card {
  max-width: 500px;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  gap: 3rem;
}

/* Header */
.card-header {
  text-align: center;
}

h1 {
  color: var(--clr-magenta);
  font-size: var(--fs-800);
  font-weight: var(--fw-extra-bold);
}

.card-header p {
  color: var(--clr-d-grey-magenta);
  font-size: var(--fs-500);
  font-weight: var(--fw-bold);
  line-height: 1.1;
  margin: 0;
}

/* Card Ratings */
.card-ratings {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.rating {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.stars-container {
  display: flex;
  gap: 0.5rem;
}

.stars-container img {
  width: 20px;
  height: auto;
}

.rating h3 {
  color: var(--clr-magenta);
  font-weight: var(--fw-extra-bold);
  font-size: var(--fs-600);
  text-align: center;
  margin: 0;
}

/* Card Testimonials */
.card-testimonials {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.user-card {
  max-width: 375px;
  background-color: var(--clr-magenta);
  border-radius: 0.5rem;
  padding: 1.5rem;
}

.user-info {
  display: flex;
  gap: 1.5rem;
  margin-bottom: 1.5rem;
}

.user-info img {
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.user-info div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.25rem;
}

.user-name {
  color: var(--clr-white);
  font-weight: var(--fw-bold);
  font-size: var(--fs-500);
  margin: 0;
}

.user-role {
  color: var(--clr-pink);
  font-weight: var(--fw-bold);
  font-size: var(--fs-500);
  margin: 0;
}

.user-card > p {
  font-weight: var(--fw-bold);
  color: var(--clr-l-grey-magenta);
  font-size: var(--fs-400);
  margin: 0;
  line-height: 1.2;
}

/* Media Queries */
@media (min-width: 768px) {
  .card {
    max-width: 550px;
    grid-template-rows: auto;
    gap: 2rem;
  }

  h1 {
    font-size: var(--fs-1000);
  }

  .card-header p {
    font-size: var(--fs-600);
  }

  .stars-container img {
    width: 25px;
  }

  .rating h3 {
    font-size: var(--fs-600);
  }

  .user-card {
    max-width: 450px;
  }
}

@media (min-width: 1000px) {

  h1, header p {
    text-align: left;
  }

  .card {
    max-width: 1200px;
    display: grid;
    grid-template-columns: 2fr 3fr;
    grid-template-rows: auto auto;
    gap: 3rem;
  }

  .card-ratings {
    align-self: center;
    gap: 3rem;
  }

  .rating {
    flex-direction: row;
    gap: 1.5rem;
  }

  .rating:nth-of-type(1) {
    align-self: flex-start;
  }

  .rating:nth-of-type(2) {
    align-self: center;
  }

  .rating:nth-of-type(3) {
    align-self: flex-end;
  }





  .card-testimonials {
    grid-column: span 2;
    flex-direction: row;
    height: 250px;
  }

  .card-testimonials > :nth-child(1) {
    align-self: flex-start;
  }

  .card-testimonials > :nth-child(2) {
    align-self: center;
  }

  .card-testimonials > :nth-child(3) {
    align-self: flex-end;
  }
}
