:root {
    /* Colors */
    --clr-bg: hsl(0, 0%, 100%);
    --clr-h1: hsl(24, 5%, 18%);
    --clr-h2: hsl(14, 45%, 36%);
    --clr-h3: hsl(332, 51%, 32%);
    --clr-strong: hsl(30, 10%, 34%);
    --clr-line: hsl(30, 18%, 87%);

    /* Font Type */
    --ff-heading: "Young Serif", serif;
    --ff-base: "Outfit", sans-serif;

    /* Font Weights */
    --fw-regular: 400;
    --fw-semi-bold: 600;
    --fw-bold: 700;

    /* Font Size */
    --fs-base: 1rem;
    --fs-medium: 1.25rem;
    --fs-large: 1.5rem;
    --fs-xlarge: 2rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    display: block;
}

body {
    display: grid;
    place-items: center;
    min-height: 100vh;
    font-family: var(--ff-base);
    background-color: #f3e5d8;
}

h1, h2 {
    font-family: var(--ff-heading);
}

li {
    list-style-position: outside; 
    padding-left: 1rem; 
}


/* Card */

.card {
    max-width: 400px;
    background-color: var(--clr-bg);
}

/* Header */

.card-image {
    width: 100%;
    overflow: hidden;
    height: auto;
}

.card-image img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.name-details {
    padding: 1.25rem 1rem;
}

h1 {
    font-weight: var(--fw-regular);
    font-size: var(--fs-xlarge);
    color: var(--clr-h1);
    margin-bottom: 1rem;
}

.name-details p {
    font-weight: var(--fw-regular);
    color: var(--clr-strong);
    line-height: 1.3;
}

/* Preparation Time */

.preparation {
    padding: 2rem 2rem 0;
}

.preparation h3 {
    color: var(--clr-h3);
    font-weight: var(--fw-bold);
    margin-bottom: 1rem;
}

.preparation ul {
    list-style-position: outside;
    padding-left: 1.5rem;
}

.preparation span {
    font-weight: var(--fw-bold);
}

.preparation li {
    color: var(--clr-strong);
    line-height: 1.5;
}

.preparation li::marker {
    color: var(--clr-h3);
}

/* Ingredients */

.ingredients {
    padding: 0 1rem;
}

.ingredients h2 {
    font-size: var(--fs-large);
    color: var(--clr-h2);
    font-weight: var(--fw-regular);
    margin-bottom: 1rem;
}

.ingredients ul {
    margin-left: 1.5rem;
}

.ingredients li {
    color: var(--clr-strong);
    font-weight: var(--fw-regular);
}

.ingredients li:not(:last-child) {
    margin-bottom: 0.75rem;
}

.ingredients li::marker {
    color: var(--clr-h2);
}

/* Instructions */

.instructions {
    padding: 0 1rem;
}

.instructions h2 {
    font-size: var(--fs-large);
    color: var(--clr-h2);
    font-weight: var(--fw-regular);
    margin-bottom: 1rem;
}

.instructions ol {
    margin-left: 1.5rem;
}

.instructions li::marker {
    color: var(--clr-h2);
    font-weight: var(--fw-bold);
}

.instructions li {
    color: var(--clr-strong);
    margin-bottom: 0.75rem;
    line-height: 1.3;
}

/* Divider */

hr {
    border: none;
    height: 1px;
    background-color: var(--clr-line);
    margin: 2rem 1rem;
}

/* Nutrition Table */

.nutrition {
    padding: 0 1rem;
}

.nutrition h2 {
    font-size: var(--fs-large);
    color: var(--clr-h2);
    font-weight: var(--fw-regular);
    margin-bottom: 1rem;
}

.nutrition p {
    font-weight: var(--fw-regular);
    color: var(--clr-strong);
    line-height: 1.3;
}

table {
    width: 100%;
    margin-top: 1rem;
    border-collapse: collapse;
}

th, td {
    padding: 1rem;
}

th {
    font-weight: var(--fw-semi-bold);
    color: var(--clr-strong);
}

td {
    font-weight: var(--fw-bold);
    color: var(--clr-h2);
}

table tr:not(:last-child) {
    border-bottom: 1px solid var(--clr-line);
}


/* Responsive */

@media (min-width: 425px) {
    main {
        padding: 1rem;
    }

    .card {
        border-radius: 1rem;
        padding: 1rem;
        max-width: 400px;
    }

    .card-image {
        border-radius: 0.5rem;
    }
}
